main {
	display: flex;
	justify-content: space-between;
	width: 50rem;
	height: 12rem;
}

#logo-section {
	background-color: hsl(228, 56%, 26%);
	border-radius: 1rem 5rem 1rem 1rem;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;

	.icons {
		display: flex;
		justify-content: space-around;
	}

	.icon-image {
		background-color: hsl(229, 57%, 11%);
		padding: 1rem;
		border-radius: 1rem;
	}
}

#section {
	width: 50%;
}

.chat-box {
	max-width: 27%;
	position: relative;
	padding: 10px 15px;
	margin: 10px;
	background-color: hsl(0, 0%, 100%);
	border-radius: 15px;
	border-bottom-right-radius: 0;
	top: 1.8rem;
	left: 17rem;
}
.chat-box::after {
	content: "";
	position: absolute;
	bottom: -15px;
	right: 0px;
	border-width: 15px 0 0 15px;
	border-style: solid;
	border-color: hsl(0, 0%, 100%) transparent transparent transparent;
}

.data-section {
	background-color: hsl(228, 56%, 26%);
	border-radius: 1rem;
	color: hsl(0, 0%, 100%);
	padding: 1.5rem;
}
