body {
  font-family: "Raleway", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
#backgroundImage {
  position: relative;
  background-image: url("../images/bg-desktop.png");
  background-size: auto 50%;
  background-position: bottom;
  background-color: hsl(229, 57%, 11%);
  height: 100vh;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
}

main {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  height: 12rem;
}

#logo-section {
  background-color: hsl(228, 56%, 26%);
  border-radius: 1rem 5rem 1rem 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
#logo-section .icons {
  display: flex;
  justify-content: space-around;
}
#logo-section .icon-image {
  background-color: hsl(229, 57%, 11%);
  padding: 1rem;
  border-radius: 1rem;
}

#section {
  width: 50%;
}

.chat-box {
  max-width: 27%;
  position: relative;
  padding: 10px 15px;
  margin: 10px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  border-bottom-right-radius: 0;
  top: 1.8rem;
  left: 17rem;
}

.chat-box::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 0px;
  border-width: 15px 0 0 15px;
  border-style: solid;
  border-color: hsl(0, 0%, 100%) transparent transparent transparent;
}

.data-section {
  background-color: hsl(228, 56%, 26%);
  border-radius: 1rem;
  color: hsl(0, 0%, 100%);
  padding: 1.5rem;
}

#bar {
  position: relative;
  width: 100%;
  max-width: 25rem;
  height: 1.2rem;
  background-color: hsl(229, 57%, 11%);
  border-radius: 0.6rem;
  overflow: hidden;
}

.bar {
  height: 100%;
  width: 80%;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  transition: width 0.3s ease-in-out;
}

.ball {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 1.2rem;
  height: 1.2rem;
  background-color: white;
  border: solid hsl(335, 100%, 65%);
  border-radius: 50%;
}

#bar-range {
  display: flex;
  justify-content: space-between;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=style.css.map */